<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpt276.meetly" >

    <!-- These permissions are used for the map api -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--This little bit is also used for the maps for drawing-->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the menu_login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--For Wifi P2P-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/green_indicator"
        android:label="@string/app_name"
        android:theme="@style/MainTheme" >

        <!--The api key for the maps-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAv1lruClrwpiI3PI-oyJ5U59F9XsdMxk8" />

        <!--//Main Activity &ndash;&gt; Parent-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >-->
        </activity>
        <!--//Create Events-->
        <activity
            android:name=".CreateEvent"
            android:label="@string/title_activity_create_event"
            android:theme="@style/CreateTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Meetly" />
        </activity>
        <!--//View Events-->
        <activity
            android:name=".ViewEvent"
            android:label="@string/event_details"
            android:theme="@style/ViewTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Meetly" />
        </activity>
        <!--//Welcome Screen-->
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Meetly" />
        </activity>
        <!--//Parent Activity-->
        <activity
            android:name=".Meetly"
            android:label="@string/title_activity_parent" >
        </activity>
        <activity
            android:name=".Database"
            android:label="@string/title_activity_database" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".EditEvent"
            android:label="@string/title_activity_edit_event" >
        </activity>
    </application>



</manifest>
